<!--File: webpage.html
	Author: G.J.H. Schuurman, David B. Poot
	Date: 12/04/2022
	Structure of the webpage. Links to js file, jquery, and css file. -->

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nederlandse Tekst Beoordeler</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jsfile.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>
</head>
<body onload="loadFile()">
    <div id="input">
		<h1 title="Nederlandse Tekst Beoordeler">NTB</h1>
        <input type="file" class="form-control" id="fileInput" onchange="loadFile()"  onclick="value = ''"/>
		<button onclick="saveText()">Download bewerkt bestand</button>
        <input type="image" id="collapseSidebar" onclick="collapseSidebar()" class="rot" src="{{ url_for('static', filename='arrow-96-32.png')}}"/>
        <input type="image" id="infobutton" onclick="toggleLegend()" src="{{ url_for('static', filename='info-3-32.png')}}">
    </div>
	<div id="legenda" class="legenda hidden">
        <span class="closebutton" onclick="toggleLegend()">x</span>
        <h1>Legenda</h1>
        <p class="mistake">Mogelijke Spelfout</p>
        <p class="diff_word">Moeilijk Woord</p>
        <p class="lred">Erg slecht</p>
        <p class="lorange">Slecht</p>
        <p class="lyellow">Matig</p>
    </div>
	<div id="text" class="text">
		<div id="background" class="lettering">upload een .txt bestand</div>
	
		<textarea id="successAlert" spellcheck="false" class="lettering" role="alert" oninput="ajaxCall(value, false)">upload een .txt bestand</textarea>
	</div>
    <div id="otherData" class="otherData"></div>
</body>
</html>